﻿@model aspcore.Models.LuxaforFlag

@{
    ViewBag.Title = "Send Color";

    var selectColors = new List<SelectListItem>();

    selectColors.Add(new SelectListItem { Text = "Blue", Value = "blue", Selected = true });
    selectColors.Add(new SelectListItem { Text = "Cyan", Value = "cyan" });
    selectColors.Add(new SelectListItem { Text = "Green", Value = "green" });
    selectColors.Add(new SelectListItem { Text = "Magenta", Value = "magenta" });
    selectColors.Add(new SelectListItem { Text = "Red", Value = "red" });
    selectColors.Add(new SelectListItem { Text = "White", Value = "white" });
    selectColors.Add(new SelectListItem { Text = "Yellow", Value = "yellow" });
}

<div class="jumbotron">
    <h2>Changing Colors Manually</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <h3>Luxafor Webhook Id</h3>
                @Html.TextBoxFor(model => model.LuxaforFlagId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LuxaforFlagId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <h3>Pick Color</h3>
                @Html.DropDownListFor(model => model.Color, selectColors, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-top: 15px;">
            <div class="col-md-12">
                <p><input type="submit" value="Send" class="btn btn-success" /></p>
                <p class="bg-warning p-2">Note: it may take few seconds for the new color to change. If not, try to switch to Webhook tab in the Luxafor Desktop Application, or restart all services.</p>
                <p><img src="~/lib/images/luxafor-wbehook-id.JPG" class="img-fluid" /></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <br />
                    <p>@Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-outline-dark btn-sm" })</p>
                    <hr />
                </div>
            </div>
        </div>
    }
</div>
