﻿@model aspnet.Models.Jira

@{
    ViewBag.Title = "Jira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Get Open JIRA Issues Manually</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-4">
                <h3>JIRA Org Name</h3>
                @Html.TextBoxFor(model => model.OrgName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrgName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <h3>JIRA User Name</h3>
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <h3>JIRA API Token</h3>
                @Html.TextBoxFor(model => model.APIToken, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.APIToken, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Luxafor Webhook Id</h3>
                @Html.TextBoxFor(model => model.LuxaforFlagId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LuxaforFlagId, "", new { @class = "text-danger" })
                <p>Note: the color of the flag will go Red if you have any new issues in JIRA</p>
            </div>
        </div>
        <div class="row" style="padding-top: 15px;">
            <div class="col-md-12">
                <p><input type="submit" value="Check Jira" class="btn btn-outline-success" /></p>
                <p class="bg-warning p-2">Note: it may take few seconds to get response and for the color of the flag to change. If not, try to switch to Webhook tab in the Luxafor Desktop Application, or restart all services.</p>
            </div>
        </div>
    }
    <h2>Or Start Checking Continually</h2>
    <div class="row" style="padding-top: 15px;">
        <div class="col-md-12">
            <p><input type="button" id="MyButton" class="btn btn-success" value="Start Jira Monitor"> <a href="@Url.Action("Jira")" class="btn btn-danger">Stop Monitor</a></p>
        </div>
    </div>
    <div class="row logarea" style="padding-top: 15px; display: none">
        <div class="col-md-12">
            <h3>JIRA Log</h3>
            <div class="log"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <br />
                <p>@Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-outline-dark btn-sm" })</p>
                <hr />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        "use strict";
        $(document).ready(function () {
            $('#MyButton').click(function () {
                var OrgName = $('#OrgName').val();
                var UserName = $('#UserName').val();
                var APIToken = $('#APIToken').val();
                var LuxaforFlagId = $('#LuxaforFlagId').val();

                if (OrgName != '' && UserName != '' && APIToken != '' && LuxaforFlagId != '') {
                    $('.logarea').show();
                    myLoop(OrgName, UserName, APIToken, LuxaforFlagId);
                }
                else {
                    alert('Please fill out all the form fields');
                }
            });
        });

        var i = 1;                  //  set your counter to 1
        function myLoop(OrgNameVal, UserNameVal, APITokenVal, LuxaforFlagId) {         //  create a loop function
            setTimeout(function () {   //  call a 3s setTimeout when the loop is called
                //check if Jira has issues
                $.ajax({
                    url: '/Home/JiraJson', type: "GET", dataType: "json",
                    data: { jiraOrgName: OrgNameVal, jiraUserName: UserNameVal, jiraApiToken: APITokenVal, luxaforFlagId: LuxaforFlagId },
                    success: function (data) {
                        $(".log").append("<p>Test - " + i + " - " + data.orgName + " - " + data.userName + " - " + data.apiToken + "</p>");
                    },
                    error: function (jqXHR, exception) {
                        if (jqXHR.status === 0) {
                            alert('Not connect.\n Verify Network.');
                        } else if (jqXHR.status == 404) {
                            alert('Requested page not found. [404]');
                        } else if (jqXHR.status == 500) {
                            alert('Internal Server Error [500].');
                        } else if (exception === 'parsererror') {
                            alert('Requested JSON parse failed.');
                        } else if (exception === 'timeout') {
                            alert('Time out error.');
                        } else if (exception === 'abort') {
                            alert('Ajax request aborted.');
                        } else {
                            alert('Uncaught Error.\n' + jqXHR.responseText);
                        }
                    }
                });
                i++;                    //  increment the counter
                if (i < 1000)
                {           //  if the counter < 1000, call the loop function
                    myLoop(OrgNameVal, UserNameVal, APITokenVal, LuxaforFlagId);             //  ..  again which will trigger another
                }
            }, 3000) //  ..  setTimeout()
        }
    </script>
}

